In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1=pd.read_csv("A.csv")

In [3]:
df2=pd.read_csv("B.csv")

In [4]:
df3=pd.read_csv("C.csv")

In [5]:
df4=pd.read_csv("D.csv")

In [6]:
df5=pd.read_csv("E.csv")

In [7]:
df6=pd.read_csv("F.csv")

In [8]:
df7=pd.read_csv("G.csv")

In [9]:
df8=pd.read_csv("H.csv")

In [10]:
df9=pd.read_csv("I.csv")

In [11]:
df10=pd.read_csv("J.csv")

In [12]:
df11=pd.read_csv("K.csv")

In [13]:
df12=pd.read_csv("L.csv")

In [14]:
df13=pd.read_csv("U.csv")

In [15]:
df14=pd.read_csv("V.csv")

In [16]:
df15=pd.read_csv("W.csv")

In [17]:
df16=pd.read_csv("Y.csv")

In [18]:
df17=pd.read_csv("no1.csv")

In [19]:
df15

,Unnamed: 0,0x,0y,1x,1y,2x,2y,3x,3y,4x,...,16x,16y,17x,17y,18x,18y,19x,19y,20x,20y
0,0,180,385,214,364,229,333,207,309,176,...,132,165,149,303,158,283,175,297,189,319
1,1,180,385,210,367,228,331,202,311,166,...,120,166,142,299,157,293,175,313,185,332
2,2,180,379,211,361,228,330,203,309,171,...,125,161,144,296,153,285,169,302,180,323
3,3,174,376,203,356,219,322,190,302,155,...,116,157,135,289,142,282,157,301,168,321
4,4,164,371,195,351,211,319,186,297,154,...,102,153,126,287,133,275,151,290,167,308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,205,146,384,170,367,182,337,155,323,122,...,59,189,99,301,102,304,116,326,129,344
206,206,147,384,172,367,183,338,160,325,130,...,66,191,104,301,105,306,119,325,132,340
207,207,157,386,181,368,193,337,170,323,137,...,75,188,115,309,120,317,137,339,152,354
208,208,157,390,184,372,197,339,169,325,134,...,79,189,118,302,119,300,131,325,139,346
209,209,159,392,185,375,199,343,172,328,137,...,82,190,120,307,122,309,136,332,147,351

In [20]:
df1['target']=['A']*len(df1)

In [21]:
df2['target']=['B']*len(df2)

In [22]:
df3['target']=['C']*len(df3)

In [23]:
df4['target']=['D']*len(df4)

In [24]:
df5['target']=['E']*len(df5)

In [25]:
df6['target']=['F']*len(df6)

In [26]:
df7['target']=['G']*len(df7)

In [27]:
df8['target']=['H']*len(df8)

In [28]:
df9['target']=['I']*len(df9)

In [29]:
df10['target']=['J']*len(df10)

In [30]:
df11['target']=['K']*len(df11)

In [31]:
df12['target']=['L']*len(df12)

In [32]:
df13['target']=['U']*len(df13)

In [33]:
df14['target']=['V']*len(df14)

In [34]:
df15['target']=['W']*len(df15)

In [35]:
df16['target']=['Y']*len(df16)

In [36]:
df17['target']=['one']*len(df17)

In [37]:
df4[df4['target']==np.nan]

Empty DataFrame
Columns: [Unnamed: 0, 0x, 0y, 1x, 1y, 2x, 2y, 3x, 3y, 4x, 4y, 5x, 5y, 6x, 6y, 7x, 7y, 8x, 8y, 9x, 9y, 10x, 10y, 11x, 11y, 12x, 12y, 13x, 13y, 14x, 14y, 15x, 15y, 16x, 16y, 17x, 17y, 18x, 18y, 19x, 19y, 20x, 20y, target]
Index: []

[0 rows x 44 columns]

####

In [38]:
df16

,Unnamed: 0,0x,0y,1x,1y,2x,2y,3x,3y,4x,...,16y,17x,17y,18x,18y,19x,19y,20x,20y,target
0,0,178,226,201,228,211,232,210,236,203,...,271,117,228,123,252,133,267,138,271,Y
1,1,170,311,200,285,221,243,232,209,246,...,266,105,241,89,209,78,189,68,170,Y
2,2,182,307,215,283,239,243,250,208,263,...,262,124,233,107,203,94,184,82,165,Y
3,3,188,306,220,282,243,242,254,207,266,...,261,129,236,112,204,99,185,88,166,Y
4,4,195,263,192,260,183,248,184,241,185,...,257,191,227,193,229,193,242,193,250,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,275,175,341,217,326,255,290,276,252,301,...,300,136,246,118,214,103,188,92,164,Y
276,276,184,339,227,324,264,285,285,248,303,...,303,141,239,131,203,119,175,109,152,Y
277,277,185,338,226,323,263,284,285,247,304,...,303,142,238,131,203,119,176,110,153,Y
278,278,194,322,232,320,271,283,292,245,308,...,303,161,233,151,245,155,276,163,296,Y
279,279,189,338,230,323,267,285,290,248,310,...,301,150,236,139,201,126,174,117,150,Y

In [39]:
# df3[df3.isnull()==True]

In [40]:
# df4[df4.isnull()==True]

In [42]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17],ignore_index=True)

In [43]:
df=df.drop('Unnamed: 0',axis=1)

In [44]:
df = df.sample(frac=1,random_state=101).reset_index(drop=True)

In [45]:
df

,0x,0y,1x,1y,2x,2y,3x,3y,4x,4y,...,16y,17x,17y,18x,18y,19x,19y,20x,20y,target
0,156,381,180,363,192,332,168,318,134,310,...,182,115,299,122,303,138,325,151,343,W
1,176,312,210,290,238,248,251,211,264,185,...,265,118,229,101,196,86,175,75,154,Y
2,219,362,251,343,272,305,250,279,219,267,...,308,178,269,191,271,205,294,211,310,U
3,188,362,217,339,230,303,204,280,176,264,...,307,139,277,146,276,162,298,172,311,V
4,68,275,95,234,142,217,180,224,204,241,...,274,156,296,189,294,174,294,158,294,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,156,336,190,317,218,288,236,266,246,246,...,237,138,252,151,219,175,221,193,233,D
3391,181,352,224,340,268,300,273,255,245,229,...,294,165,232,173,186,182,157,192,129,I
3392,71,280,91,233,131,215,169,228,195,242,...,260,146,286,164,290,147,286,131,280,H
3393,117,371,161,355,199,317,197,272,168,248,...,307,98,252,107,205,115,176,124,150,I
3394,151,365,186,344,212,314,217,284,203,262,...,141,134,251,141,213,146,190,153,167,F

In [46]:
# df[df['target']==np.nan]

In [47]:
from sklearn.preprocessing import StandardScaler

In [48]:
scale=StandardScaler()

In [49]:
from sklearn.model_selection import train_test_split
X=df.drop('target',axis=1)
y=df['target']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10,random_state=101)

In [50]:
X_train=scale.fit_transform(X_train)
X_test=scale.transform(X_test)

In [51]:
from sklearn.svm import SVC

base_mod=SVC(random_state=101)

base_mod.fit(X_train,y_train)

pred=base_mod.predict(X_test)

c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):

In [52]:

from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

accuracy_score(y_test,pred)

0.9911764705882353

In [53]:
import pickle
filename = 'A-B-C-D-E-F-G-H-I-J-K-L-U-V-W-Y-1'
pickle.dump(base_mod, open(filename, 'wb'))

In [54]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.9911764705882353

In [55]:
pred

array(['W', 'G', 'I', 'W', 'W', 'W', 'H', 'H', 'I', 'Y', 'L', 'V', 'Y',
       'K', 'one', 'W', 'J', 'H', 'K', 'A', 'E', 'H', 'V', 'D', 'J', 'B',
       'K', 'H', 'D', 'K', 'J', 'A', 'H', 'B', 'Y', 'K', 'D', 'L', 'Y',
       'D', 'W', 'A', 'J', 'C', 'H', 'Y', 'D', 'J', 'B', 'Y', 'U', 'A',
       'J', 'L', 'L', 'W', 'Y', 'I', 'B', 'H', 'V', 'Y', 'H', 'U', 'one',
       'B', 'L', 'K', 'D', 'H', 'G', 'B', 'W', 'L', 'F', 'V', 'U', 'B',
       'L', 'B', 'D', 'B', 'W', 'E', 'L', 'E', 'L', 'D', 'K', 'A', 'D',
       'A', 'A', 'K', 'J', 'A', 'V', 'L', 'W', 'W', 'F', 'C', 'L', 'F',
       'D', 'A', 'one', 'G', 'W', 'V', 'B', 'K', 'B', 'J', 'one', 'one',
       'Y', 'A', 'Y', 'D', 'H', 'L', 'I', 'one', 'C', 'H', 'B', 'B', 'W',
       'Y', 'J', 'W', 'I', 'B', 'one', 'E', 'Y', 'B', 'C', 'V', 'F', 'U',
       'H', 'A', 'D', 'W', 'H', 'Y', 'G', 'Y', 'I', 'G', 'L', 'D', 'A',
       'K', 'Y', 'I', 'D', 'K', 'L', 'B', 'L', 'one', 'I', 'W', 'L', 'D',
       'L', 'G', 'Y', 'B', 'E', 'K', 'L', 'one', 'E', 'J', 'U', 'E', 'L',
       'H', 'Y', 'Y', 'Y', 'L', 'V', 'C', 'V', 'I', 'I', 'I', 'one', 'Y',
       'W', 'I', 'U', 'G', 'U', 'G', 'E', 'B', 'V', 'one', 'U', 'H', 'E',
       'L', 'D', 'I', 'D', 'V', 'F', 'V', 'J', 'J', 'F', 'D', 'Y', 'V',
       'U', 'G', 'K', 'H', 'D', 'U', 'B', 'V', 'E', 'V', 'D', 'B', 'A',
       'L', 'B', 'G', 'W', 'H', 'V', 'W', 'E', 'H', 'W', 'one', 'E', 'J',
       'E', 'B', 'E', 'V', 'H', 'A', 'A', 'W', 'E', 'U', 'L', 'W', 'L',
       'H', 'I', 'W', 'K', 'L', 'E', 'I', 'Y', 'U', 'J', 'H', 'E', 'one',
       'L', 'one', 'F', 'E', 'V', 'I', 'Y', 'C', 'B', 'G', 'H', 'E',
       'one', 'B', 'L', 'U', 'one', 'J', 'D', 'H', 'V', 'U', 'L', 'W',
       'W', 'Y', 'W', 'H', 'E', 'one', 'W', 'W', 'U', 'E', 'L', 'A', 'L',
       'J', 'D', 'W', 'A', 'W', 'V', 'F', 'A', 'V', 'A', 'V', 'U', 'L',
       'H', 'U', 'V', 'H', 'H', 'W', 'A', 'V', 'V', 'W', 'U', 'L', 'L',
       'K', 'I', 'H', 'E', 'Y'], dtype=object)

In [56]:
from sklearn.externals import joblib
scaler_filename = "scaler.save"
joblib.dump(scale, scaler_filename)

c:\users\asus\anaconda3\envs\deep_lenv\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['scaler.save']

In [57]:
scaler = joblib.load(scaler_filename)

In [58]:
X_test.shape

(340, 42)

In [59]:
X_train.shape

(3055, 42)